In [1]:
import os
import re
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Persistindo o modelo de Machine Learning para o disco. ###

In [2]:
import joblib

#### Listando os arquivos em disco.

In [3]:
!ls

conections_loan_credit.ipynb  model.ipynb
EDA.ipynb		      persistencia-objetos-disco.ipynb
Model2.ipynb		      persistindo-modelo-machine-learning-disco.ipynb

#### Carregando o modelo a partir do disco para a memória.

In [3]:
model = joblib.load('model.pkl')

FileNotFoundError: [Errno 2] No such file or directory: 'model.pkl'

In [68]:
print("Atributos do Modelo:\n\nClasses:{}\nEstimator:{}".format(model.classes_,model.estimator))

Atributos do Modelo:

Classes:[0 1]
Estimator:Pipeline(memory=None,
     steps=[('scl', StandardScaler(copy=True, with_mean=True, with_std=True)), ('clf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
        ...n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))])

**Verificando o Dataset final gerado.**

In [69]:
X_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount
90,1,1,0,0,0,2958,131.0
599,1,1,2,0,0,5780,192.0
470,1,1,1,0,1,3450,162.0
458,1,0,2,0,0,4354,136.0
165,1,1,0,0,0,3707,182.0

**Teste de Classificação.**

In [7]:
teste = np.array([1,1,3,0,0,9504,275.0])

In [8]:
model.predict(teste)

NameError: name 'model' is not defined

**Probabilidades de Classes.**

In [72]:
model.predict_proba(teste)

array([[0.415, 0.585]])